<form role="form" name="f1" novalidate ng-init="f1.sent = false;" ng-submit="f1.sent = true; f1.$setPristine(); f1.$valid && submit();" autocomplete="off" foo="bar">
<fieldset>

  <div class="form-group">

    <div>
      <input type="text" placeholder="" class="form-control" name="myinput" id="myinput" ng-model="data.myinput">
    </div>

  </div>

  <div class="form-group" ng-class="{'has-error': f1.sent && (f1['myinputv'].$invalid)}">
    
    <label for="myinputv" class="control-label">Email</label>

    <div>
      <input type="email" placeholder="test@example.com" class="form-control" name="myinputv" id="myinputv" ng-model="data.myinputv" myarg1="myvalue1" myarg2="myvalue2" required="" ng-minlength="3" ng-maxlength="4">
    </div>

    <span class="help-block" ng-show="f1.sent && (f1['myinputv'].$invalid)">
      <span ng-show="f1['myinputv'].$error.required">El email es obligatorio</span>
      <span ng-show="f1['myinputv'].$error.minlength">El email debe tener al menos 3 caracteres</span>
      <span ng-show="f1['myinputv'].$error.maxlength">El email debe tener como mucho 4 caracteres</span>
      <span ng-show="f1['myinputv'].$error.email">required email</span>
    </span>

  </div>

  <div class="form-group" ng-class="{'has-error': f1.sent && (f1['myinputaffix'].$invalid)}">

    <div>
      <div class="input-group">
        <span class="input-group-addon">myprefix</span>
        <input type="text" placeholder="" class="form-control" name="myinputaffix" id="myinputaffix" ng-model="data.myinputaffix" ng-minlength="3" ng-pattern="/^[a-z]$/">
        <span class="input-group-addon">mysuffix</span>
      </div>
    </div>

    <span class="help-block" ng-show="f1.sent && (f1['myinputaffix'].$invalid)">
      <span ng-show="f1['myinputaffix'].$error.minlength">El email debe tener al menos 3 caracteres</span>
      <span ng-show="f1['myinputaffix'].$error.pattern">My pattern</span>
    </span>

  </div>

  <div class="form-group" ng-class="{'has-error': f1.sent && (f1['myinputmyid'].$invalid)}">
    
    <label for="myidtest" class="control-label">myid</label>

    <div>
      <input type="text" placeholder="" class="form-control" name="myinputmyid" id="myidtest" ng-model="data.myinputmyid" required="">
    </div>

    <span class="help-block" ng-show="f1.sent && (f1['myinputmyid'].$invalid)">
      <span ng-show="f1['myinputmyid'].$error.required">required validation with the name</span>
    </span>

  </div>

  <div class="form-group" ng-class="{'has-error': f1.sent && (f1['myint'].$invalid)}">

    <div>
      <input type="number" placeholder="" class="form-control" name="myint" id="myint" ng-model="data.myint" min="10" max="99">
    </div>

    <span class="help-block" ng-show="f1.sent && (f1['myint'].$invalid)">
      <span ng-show="f1['myint'].$error.number">integer required</span>
      <span ng-show="f1['myint'].$error.min">at least 10 required</span>
      <span ng-show="f1['myint'].$error.max">at max 99 required</span>
    </span>

  </div>

  <div class="form-group" ng-class="{'has-error': f1.sent && (f1['myintzero'].$invalid)}">

    <div>
      <input type="number" placeholder="" class="form-control" name="myintzero" id="myintzero" ng-model="data.myintzero" min="0">
    </div>

    <span class="help-block" ng-show="f1.sent && (f1['myintzero'].$invalid)">
      <span ng-show="f1['myintzero'].$error.number">integer required</span>
      <span ng-show="f1['myintzero'].$error.min">at least 0 required</span>
    </span>

  </div>

  <div class="form-group">

    <div>
      <select class="form-control" name="myselect" id="myselect" ng-model="data.myselect">
      </select>
    </div>

  </div>

  <div class="form-group" ng-class="{'has-error': f1.sent && (f1['myselectoptions'].$invalid || (!f1['myselectoptions'].$dirty && ((myexpr))))}">

    <div>
      <select class="form-control" name="myselectoptions" id="myselectoptions" ng-model="data.myselectoptions">
        <option value="myvalue1">mylabel1</option>
        <option value="myvalue2">mylabel2</option>
      </select>
    </div>

    <span class="help-block" ng-show="f1.sent && (f1['myselectoptions'].$invalid || (!f1['myselectoptions'].$dirty && ((myexpr))))">
      <span ng-show="!f1['myselectoptions'].$dirty && f1['myselectoptions'].$valid && ((myexpr))">My message</span>
    </span>

  </div>

  <div class="form-group">
    
    <label for="myselectng" class="control-label">Select label</label>

    <div>
      <select class="form-control" name="myselectng" id="myselectng" ng-model="data.myselectng" ng-options="items in list">
      </select>
    </div>

  </div>

  <div class="form-group">

    <div>
      <select class="form-control" name="myselectrepeat" id="myselectrepeat" ng-model="data.myselectrepeat">
        <option value="foo">bar</option>
        <option ng-repeat="item in list" value="{{ item.value }}">{{ item.label }}</option>
      </select>
    </div>

  </div>

  <div class="form-group">
    
    <label for="mytextarea" class="control-label">My textarea</label>

    <textarea placeholder="" class="form-control" name="mytextarea" id="mytextarea" ng-model="data.mytextarea" rows="7"></textarea>

  </div>

  <div class="form-group">
    
    <label for="" class="control-label">My Static</label>

    <p>static content</p>

  </div>

  <div class="form-group" ng-class="{'has-error': f1.sent && (f1['datepicker'].$invalid)}">
    
    <label for="datepicker" class="control-label">Datepicker field</label>

    <div>
      <div class="input-group">
        <input type="text" placeholder="DD/MM/AAAA" class="form-control" name="datepicker" id="datepicker" ng-model="data.datepicker" datepicker-popup="dd/MM/yyyy" datepicker-manual="" datepicker-options="datepickerOptions" required="" min-date-value="minDate">
        <span class="input-group-btn"><button >select</button></span>
      </div>
    </div>

    <span class="help-block" ng-show="f1.sent && (f1['datepicker'].$invalid)">
      <span ng-show="f1['datepicker'].$error.required">La fecha de finalización es obligatoria en formato DD/MM/AAAA</span>
      <span ng-show="f1['datepicker'].$error.date">La fecha debe tener un formato válido DD/MM/AAAA</span>
      <span ng-show="f1['datepicker'].$error.min">La fecha debe corresponder a hoy, o un día posterior</span>
    </span>

  </div>

  <p>static no wrapper content</p>

  <div class="form-group">

    <div class="checkbox">
      <label>
        <input type="checkbox" class="" name="mycheckbox" id="mycheckbox" ng-model="data.mycheckbox">
        My checkbox
      </label>
    </div>

  </div>

  <div class="form-group">
    
    <label for="radios" class="control-label">My radios</label>

    <div class="radio">
      <label>
        <input id="0" value="foo" type="radio" class="" name="radios" id="radios" ng-model="data.radios">
        Foo option
      </label>
    </div>
    <div class="radio">
      <label>
        <input id="1" value="bar" type="radio" class="" name="radios" id="radios" ng-model="data.radios">
        Bar option
      </label>
    </div>
    <div class="radio">
      <label>
        <input id="2" value="baz" type="radio" class="" name="radios" id="radios" ng-model="data.radios">
        Baz option
      </label>
    </div>


  </div>

  <div class="form-group" ng-class="{'has-error': f1.sent && (f1['url'].$invalid)}">
    
    <label for="url" class="control-label">My url</label>

    <div>
      <input type="url" placeholder="" class="form-control" name="url" id="url" ng-model="data.url">
    </div>

    <span class="help-block" ng-show="f1.sent && (f1['url'].$invalid)">
      <span ng-show="f1['url'].$error.url">url required</span>
    </span>

  </div>

  <div>
    <p>&nbsp;</p>
    <button type="submit" class="btn btn-primary" ng-disabled="f1.sent && !f1.$valid">Send button</button>
  </div>

  <div>
    <p>&nbsp;</p>
    <button type="submit" class="btn btn-primary" ng-disabled="f1.sent && !f1.$valid">Send button</button><a href="#">Cancel</a>
  </div>

  <div foo="bar">
    <p>&nbsp;</p>
    <button type="submit" class="btn btn-primary" ng-disabled="f1.sent && !f1.$valid" baz="qux">Send button</button>
  </div>

</fieldset>
</form>
